.intro-container {
  padding-top: 240px;
  padding-bottom: 240px;
  padding-left: 40px;
  width: 90%;
  max-width: 800px;
}

.intro-container .title {
  font-family: "Akira Expanded";
  font-size: 120px;
  color: white;
}

.intro-container .socials {
  padding-left: 120px;
}

.intro-container .socials img{
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.intro-container .about-text {
  /* font-family: Verdana, Geneva, sans-serif; */
  font-family: "Work Sans";
  padding-top: 30px;
  color: white;
  /* font-size: 20px; */
  /* letter-spacing: 0.5px; */
}

/* Responsive Navbar Functionality */

@media only screen and (max-width: 1000px) {
  .intro-container {
    max-width: none;
    width: 100%;
    padding-left: 0px;
    width: 90%;
    margin: auto;
    text-align: center;
  }

  .intro-container .title {
    font-family: "Akira Expanded";
    font-size: 90px;
    color: white;
  }

  .intro-container .socials {
    padding-left: 0px;
  }

  .intro-container .about-text {
    /* font-family: Verdana, Geneva, sans-serif; */
    font-family: "Work Sans";
    padding-top: 22px;
    color: white;
    font-size: 14px;
    /* letter-spacing: 0.4px; */
  }
}
