.featured-work {
  background-color: black;
  height: 540px;
  max-height: 540px;
}

.featured-work .title {
  font-size: 24px;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 24px;
  font-family: "Akira Expanded";
  color: white;
  /* background-color: orange; */
}

* { box-sizing: border-box; }

.main-carousel img{
  padding-bottom: 32px;
  height: 400px;
  margin-left: 48px;
}

@font-face {
  font-family: "Akira Expanded";
  src: url("../fonts/AkiraExpanded.otf") format("truetype");
}

@media only screen and (max-width: 1000px) {
  .featured-work {
    background-color: black;
    height: 415px;
    max-height: 415px;
  }

  .featured-work .title {
    font-size: 18px;
    padding-top: 36px;
    padding-bottom: 18px;
  }

  * { box-sizing: border-box; }
  .main-carousel img{
    padding-bottom: 24px;
    height: 300px;
    margin-left: 36px;
  }
}
