.featured-work {
  background-color: #0a0a0a;
}

.featured-work .title {
  position: relative;
  height: 140px;
}
.featured-work .title .text {
  font-size: 36px;
  text-align: center;
  font-family: "Akira Expanded";
  color: white;
  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button-container {
  position: relative;
  height: 120px;
}
.button.button--pan{
  font-size: 16px;
  color: white;
  border: 2px solid white;
  padding: 20px 40px;

  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

* { box-sizing: border-box; }
.main-carousel img{
  height: 400px;
  margin-left: 48px;
}
.main-carousel {
  margin-bottom: 32px;
}

@media only screen and (max-width: 1000px) {
  .featured-work .title {
    height: 105px;
  }
  .featured-work .title .text {
    font-size: 27px;
  }

  .button-container {
    height: 90px;
  }
  .button.button--pan{
    font-size: 12px;
    padding: 15px 30px;
  }

  * { box-sizing: border-box; }
  .main-carousel img{
    height: 300px;
    margin-left: 36px;
  }
  .main-carousel {
    margin-bottom: 24px;
  }
}
