.footer {
  background-color: #060606;
  margin: auto;
  text-align: center;
  padding-top: 92px;
  padding-bottom: 92px;
}

.footer .footer-title {
  font-family: "Akira Expanded";
  font-size: 60px;
  color: white;
}

.footer .socials {
  padding-top: 24px;
}

.footer .socials img{
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}


@media only screen and (max-width: 1000px) {
  .footer {
    padding-top: 69px;
    padding-bottom: 69px;
  }

  .footer .footer-title {
    font-size: 45px;
  }

  .footer .socials {
    padding-top: 18px;
  }
}
