.NavigateBar {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

/* Underline Animation https://codepen.io/jstn/pen/mdoOZJ */
.hover-underline-animation {
  text-decoration: none;

  padding: 31px;
  position: relative;
}

.hover-underline-animation:after {
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  position: absolute;
  background: #8A32FF;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.hover-underline-animation:hover:after {
  width: 100%;
  left: 0;
}



/* LEFT SIDE */
.NavigateBar .left-side {
  flex: 20%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.NavigateBar .left-side .images {
  max-height: 80px;
}

.NavigateBar .left-side .images img{
  margin-left: 8px;
  height: 50px;
}

/* RIGHT SIDE */
.NavigateBar .right-side {
  flex: 80%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.NavigateBar .right-side .links {
  max-height: 80px;
}

.NavigateBar .right-side .links a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin-right: 0px;
}

.NavigateBar .right-side button{
  display: none;
  margin-right: 31px;
}

.NavigateBar .right-side #hidden{
  display: flex;
}

.NavigateBar .right-side .images {
  max-height: 80px;
}

.NavigateBar .right-side .images img{
  margin-right: 31px;
  height: 25px;
}


/* Responsive Navbar Functionality */

@media only screen and (max-width: 1000px) {
  .NavigateBar {
    height: 60px;
  }

  .NavigateBar .left-side .images img{
    margin-left: 6px;
    height: 37px;
  }

  .NavigateBar .right-side .images img{
    margin-right: 23px;
    height: 19px;
  }

  .NavigateBar .right-side button{
    display: none;
    margin-right: 23px;
  }

  .NavigateBar .right-side button{
    display: flex;
  }

  .NavigateBar .right-side .links {
    display: none;
  }

  .NavigateBar .right-side #hidden {
    position: absolute;
    left: 0px;
    top: 60px;
    height: 160px;
    max-height: 180px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    font-size: 25px;
  }
}
