.shop {
  background-color: #131313;
  background-size: cover;
}

.shop .title {
  position: relative;
  height: 140px;
}
.shop .title .text {
  font-size: 36px;
  text-align: center;
  font-family: "Akira Expanded";
  color: white;
  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.shop .categories {
  /* background-color: orange; */
  position: relative;
  width: 100%;
  justify-content: center;

  display: flex;
}

.shop .categories .inner {
  width: 1200px;
  /* background-color: green; */
}
@media only screen and (max-width: 1250px) {
  .shop .categories .inner {
    width: 800px;
  }
}
@media only screen and (max-width: 950px) {
  .shop .categories .inner {
    width: 400px;
  }
}




@media only screen and (max-width: 1000px) {
  .shop .title {
    height: 105px;
  }
  .shop .title .text {
    font-size: 27px;
  }
}
