.shop {
  background-color: #1c1c1c;
  background-size: cover;
  padding-bottom: 150px; /* Temporary For Testing. DO NOT KEEP*/
}

.shop .title {
  position: relative;
  height: 140px;
}
.shop .title .text {
  font-size: 36px;
  text-align: center;
  font-family: "Akira Expanded";
  color: white;
  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



@media only screen and (max-width: 1000px) {
  .shop .title {
    height: 105px;
  }
  .shop .title .text {
    font-size: 27px;
  }
}
