.shop-category .NavigateBar {
  position: static;
}

.shop-category .title {
  font-family: "Akira Expanded";
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 36px;
}

.shop-category .products {
  /* background-color: orange; */
  position: relative;
  width: 100%;
  justify-content: center;

  display: flex;
}
.shop-category .products .inner {
  width: 1200px;
  /* background-color: green; */
}


.shop-category .products .inner .results {
  border-bottom: 1px solid #EFEFEF;
  font-size: 20px;
  color: #919191;
  font-family: 'Work Sans';
}

@media only screen and (max-width: 1000px) {
  .shop-category .title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 27px;
  }

  .shop-category .products .inner .results {
    font-size: 15px;
  }

}


@media only screen and (max-width: 1250px) {
  .shop-category .products .inner {
    width: 800px;
  }
}
@media only screen and (max-width: 950px) {
  .shop-category .products .inner {
    width: 400px;
  }
}
