.shop-category .NavigateBar {
  position: static;
}

.shop-category .title {
  position: relative;
  font-family: "Akira Expanded";
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 36px;
}

.shop-category .info {
  width: 90%;
  height: 32px;
  margin: auto;
  border-bottom: 1px solid #EFEFEF;
}

.shop-category .info .results {
  font-size: 20px;
  color: #919191;
  font-family: 'Work Sans';
}

.shop-category .products {
  width: 90%;
  margin: auto;
}

@media only screen and (max-width: 1000px) {
  .shop-category .title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 27px;
  }

  .shop-category .info {
    height: 24px;
  }

  .shop-category .info .results {
    font-size: 15px;
    padding-left: 8px;
  }

}
